name: Update Talks Information and Deploy to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  update_index:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      
      - name: Install Dependencies
        run: pip install -r requirements.txt
      
      - name: Run Python Script
        run: python main.py
      
      - name: Commit and Push Changes
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
          git add index.html talks/html/*.html
          git commit -m "chore: regenerate talk pages" || echo "No changes to commit"
          git push
  
  deploy:
    needs: update_index
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
